	<footer id="footer" class="d-flex">
		<div class="container-fluid p-0">
			<div class="row footmargin flex-row p-0 m-0 no-gutters">
				<div class="col-12"></div>
			</div>
			<div class="row flex-row p-0 m-0 no-gutters">
				<div class="col-4">
<span class="d-inline-block text-truncate mx-auto my-auto" style="max-width: 150px;"><b>О Нас</b></span>
<hr class="my-1" style="max-width: 150px;">
<ul class="nav flex-column mx-auto my-auto">
  <li class="nav-item">
    <a class="nav-link text-secondary" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-secondary" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-secondary" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-secondary" href="#">Disabled</a>
  </li>
</ul>
				</div>
				<div class="col-4">&copy; 2014 - 2019 TrueWeb.Dev</div>
				<div class="col-4">
					<!--LiveInternet counter-->
					<script type="text/javascript">
					document.write("<a href='//www.liveinternet.ru/click' "+
					"target=_blank><img src='//counter.yadro.ru/hit?t27.20;r"+
					escape(document.referrer)+((typeof(screen)=="undefined")?"":
					";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
					screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
					";h"+escape(document.title.substring(0,150))+";"+Math.random()+
					"' alt='' title='LiveInternet: показано количество просмотров и"+
					" посетителей' "+
					"border='0' width='88' height='120'><\/a>")
					</script>
					<!--/LiveInternet-->
				</div>
			</div>
		</div>
	</footer>
	
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ tplpath }}/js/jquery-3.4.0.js"></script>
    <script src="{{ tplpath }}/js/popper.js"></script>
    <script src="{{ tplpath }}/js/bootstrap.js"></script>
  </body>
</html>