				<div class="col-12">
					<div id="sidebox" class="list-group">
					  <a href="#" class="list-group-item list-group-item-action disabled"><h5 class="card-title">Навигация</h5></a>
					  <a href="/news/" class="list-group-item list-group-item-action">Новости сайта</a>
					  <a href="/articles/" class="list-group-item list-group-item-action">Статьи</a>
					  <a href="#" class="list-group-item list-group-item-action">Страницы</a>
					  <a href="#" class="list-group-item list-group-item-action">Комментарии</a>
					</div>
					<div id="sidebox" class="list-group">
					  <a href="#" class="list-group-item list-group-item-action disabled"><h5 class="card-title">Навигация</h5></a>
					  <a href="#" class="list-group-item list-group-item-action">Услуги</a>
					  <a href="#" class="list-group-item list-group-item-action">Портфолио сайта</a>
					  <a href="#" class="list-group-item list-group-item-action">Отзывы о нас</a>
					  <a href="#" class="list-group-item list-group-item-action">Готовые решения</a>
					</div>
				</div>
				<div class="col-12">.</div>